html, body{
  height: 100%;
}

body { 
			background-image: url(/static/DFAY36XVoAAT6W5.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
  
}

div, body{
  margin: 0;
  padding: 0;
}

